{% block content %}

<div class="container-fluid" id="bg-img">
    <div class="section-background">
        <div class="d-flex align-items-center justify-content-center no-gutters " style="height: 60vh;">
            <h1 class="text-right col-7">Toda la vida es todo para Jesús <br> <br>All of Life is All for Jesus</h1>
        </div>
    </div>
</div>

<div class="container-fluid pt-2">
    <h2>Sundays:</h2>
    <ul>
        <li><strong>9:45am:</strong> Prayer</li>
        <li><strong>10:00am:</strong> Coffee</li>
        <li><strong>10:30am:</strong> Bilingual Service</li>
    </ul>
    <h5>Contact Us:</h5>
    <p><a href="https://mesa.redemptionaz.com/">Redemption Mesa</a>
    <p><a href="mailto:mesa@redemptionaz.com">mesa@redemptionaz.com</a>
    </p>
    <p>Our Location:</p> <a href="https://www.google.com/maps?q=1818+E+Southern+Ave+Suite+5+Mesa+AZ+85204" target="_blank">
            1818 E Southern Ave. Suite 5, Mesa, AZ 85204
        </a>

    <!-- Quick Links -->
    <hr>
    <h4>Sections:</h4>
    <ul>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'latest-sermon' %}">Latest Sermon</a></li>
        <li><a href="{% url 'blog' %}">Pastors' Blog</a></li>
    </ul>
</div>
</div>

{% endblock %}