{% extends "base.html" %}
{% load static %}
{% block title %}{{ about.title_en }}{% endblock %}

{% block content %}
<div class="container mt-2" id="about_us">


    <h2>{{ about.title_en }}</h2>
    <h6>
        {{ about.subtitle_en|linebreaksbr }}<br><br>
        {{ about.subtitle_es|linebreaksbr }}
    </h6>

    <hr>
    <div class="container-fluid" id="about_us">
        {{ about.service_times_en|safe }}
        <hr>

        <div class="container mt-6">
            <div class="card shadow-lg contact-card">
                <div class="card-body align-items-center">
                    <!-- Logo -->
                    <div class="logo-container">
                        <img src="{% static 'images/logos/Logo R Withe.png' %}"
                             alt="{{ about.contact_name }} Logo"
                             class="img-fluid">
                    </div>
                    <!-- Text -->
                    <div class="text-container ms-4">
                        <p class="contact-title">
                            <a href="https://mesa.redemptionaz.com/">
                                {{ about.contact_name }}
                            </a>
                        </p>
                        <p class="contact-email">
                            <a href="mailto:{{ about.contact_email }}">{{ about.contact_email }}</a>
                        </p>
                        <p class="contact-location">Directions:</p>
                    </div>
                    <!-- Location link -->
                    <div class="text-container ms-4">
                        <i class="fa-solid fa-location-dot"></i>
                        <a href="https://www.google.com/maps?q={{ about.contact_address|urlencode }}"
                           target="_blank"
                           class="location-link">
                            {{ about.contact_address }}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mission (English) -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="bg-dark p-4 rounded" id="about-text">
                    <h4 class="mb-3">Our Mission</h4>
                    {{ about.mission_en|safe }}
                </div>
            </div>
        </div>

        <!-- Misión (Español) -->
        <div class="row mt-4">
            <div class="col-12">
                <div class="bg-dark p-4 rounded" id="about-text">
                    <h4 class="mb-3">Nuestra Misión</h4>
                    {{ about.mission_es|safe }}
                </div>
            </div>
        </div>
    </div>

    {% if user.is_authenticated and user.is_staff %}
        <div class="mt-3">
            <a href="{% url 'home:edit_about' %}" class="btn btn-warning">
                Edit About Page
            </a>
        </div>
    {% endif %}
</div>
{% endblock %}
