<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container mt-2">
        <h2>Events</h2>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'home:add_event' %}" class="btn btn-primary mb-3">Add New Event</a>
        {% endif %}
        <div class="row">
            {% for event in events %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    {% if event.image %}
                    <img src="{{ event.image.url }}" class="card-img-top" style="height: 250px; object-fit: cover;">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ event.title }}</h4>
                        <!-- Display the event date or "No date set" if event_date is None -->
                        <h6 class="event-date">
                            {% if event.event_date %}
                            Event Date: {{ event.event_date|date:"F j, Y, g:i a" }} <!-- Format the date -->
                            {% else %}
                            Event Date: No date set
                            {% endif %}
                        </h6>
                        <p class="card-text">{{ event.description|linebreaks|truncatechars:600 }}</p>
                        {% if event.pushpay_link %}
                        <p class="register-link"><a href="{{ event.pushpay_link }}" target="_self">Register Here!</a></p>
                        {% endif %}
                        {% if event.map_embed %}
                        <div class="map-container mt-3" style="position:relative; padding-bottom:56.25%; height:0; overflow:hidden;">
                            {{ event.map_embed|safe }}
                        </div>
                        {% endif %}
                        <p class="small-text">Published on: {{ event.created_at|date:"F j, Y, g:i a" }}</p>
                        {% if user.is_authenticated and user.is_staff %}
                        <a href="{% url 'home:edit_event' event.pk %}" class="btn btn-secondary">Edit</a>
                        <a href="{% url 'home:delete_event' event.pk %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>