{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid" id="bg-img">
    <div class="section-background">
        <div class="d-flex align-items-center justify-content-center no-gutters " style="height: 42vh;">
            <h1 class="text-right col-11">Toda la vida es toda para Jesús <br>All of Life is All for Jesus</h1>
        </div>
    </div>
</div>

<!-- Quick Links -->
<div class="container">
    <div class="banners">
        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters  ">
            <a href="{% url 'home:events' %}">
                <img src="{% static 'images/banners/events2.png' %}" alt="Events Banner">
            </a>
        </div>

        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="{% url 'news' %}">
                <img src="{% static 'images/banners/news2.png' %}" alt="News Banner">
            </a>
        </div>

        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="{% url 'latest_sermon' %}">
                <img src="{% static 'images/banners/watch2.png' %}" alt="Latest Sermon Banner">
            </a>
        </div>
        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="{% url 'home:about' %}">
                <img src="{% static 'images/banners/about2.png' %}" alt="About Us">
            </a>
        </div>

        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="https://redemptionaz.ccbchurch.com/goto/forms/2344/responses/new">
                <img src="{% static 'images/banners/connect2.png' %}" alt="Connect">
            </a>
        </div>

        <!-- <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="{% url 'notes' %}">
                <img src="{% static 'images/banners/notes2.png' %}" alt="Blog Banner">
            </a>
        </div> -->


        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="https://pushpay.com/g/redemptionmesa">
                <img src="{% static 'images/banners/give2.png' %}" alt="Give-Ofrenda banner">
            </a>
        </div>

        <div class="banner m-1 d-flex align-items-center justify-content-center no-gutters ">
            <a href="{% url 'planner:planner_list' %}">
            <img src="{% static 'images/banners/calendar2.png' %}" alt="Calendar Banner">
            </a>
        </div>

    </div>
</div>

<!-- Latest Sermons -->
<div class="container-
{% endblock %}