<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    {% extends "base.html" %}
    {% block title %}Logged Out{% endblock %}

    {% block content %}
    <div class="container mt-5">
        <h2>You have been logged out</h2>
        <p><a href="{% url 'login' %}">Click here to log in again.</a></p>
    </div>
    {% endblock %}

</body>

</html>