<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    {% extends "base.html" %}
{% block title %}Password Changed{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Password Successfully Changed</h2>
    <p>Your password has been updated!</p>
    <a href="{% url 'profile' %}" class="btn btn-primary">Back to Profile</a>
</div>
{% endblock %}

</body>
</html>