
<body>
    {% extends "base.html" %}

    {% block title %}Profile{% endblock %}
    
    {% block content %}
    <div class="container mt-5">
        <h2>Welcome, {{ user.username }}!</h2>
        <p>Email: {{ user.email }}</p>
        <hr>
        <!-- Subscription Status -->
        <h4>Subscription</h4>
        <form method="POST" action="{% url 'update_subscription' %}">
            {% csrf_token %}
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="subscribe_updates" name="subscribe_updates" 
                {% if user.profile.subscribed_to_updates %}checked{% endif %}>
                <label class="form-check-label" for="subscribe_updates">
                    Email me church updates
                </label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Save Preferences</button>
        </form>
        <div>
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'export_emails' %}" class="btn btn-success mt-3">Export Subscribed Emails</a>
        {% endif %}
        </div>

        <hr>
    
        <!-- Account Actions -->
        <h4>Update Password</h4>
        <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a><br>
        <hr>
        <div class="mt-2">
            <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
    {% endblock %}
    
</body>

</html>