* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.small-text {
  color: rgb(175, 175, 175) !important;
}

body {
  background-color: rgb(0, 0, 0) !important;
  background-size: cover;
  margin: 0;
  padding-top: 0;
}

.fa-solid {
  display: block !important;
}

.section-background {
  background-image: url("/static/images/Photo+(35+of+41)-min.jpg");
  background-size: cover;
  background-position: center;
  height: 33vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

li {
  color: #ffffff;
}

.card {
  max-width: 98%;
  margin: 0 auto;
  padding: 0.05rem;
  border-radius: 8px;
}

#bg-img {
  --bs-gutter-x: 0 !important;
  padding-right: 0;
  padding-left: 0;
}

h1, h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bolder;
  vertical-align: middle;
  font-family: Poppins, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 5vh;
  font-size: 2rem;
}

h2 {
  text-align: left;
  margin-top: 1vh;
}

h3, h4, p {
  color: #ffffff;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 35px !important;
}

.nav-link {
  color: #24ce5d;
  text-decoration: none;
  padding: 8px 12px;
}
.nav-link:hover {
  color: #5ce389;
}

.content {
  margin-top: 45px;
  padding: 20px;
}

.banners {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.banner img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 0px;
}

.card-body {
  background-color: #212529;
  color: #ffffff;
  padding-bottom: 10px;
}

p .card-text {
  background-color: #212529;
  color: #ffffff !important;
}

.form-check-label {
  color: #ffffff;
}

.text-center {
  background-color: #0e0e0e;
  border-top: none;
  margin-top: 10px;
  max-width: 90%;
  padding: 8px;
  border-radius: 8px;
}

.text-muted {
  color: rgb(175, 175, 175) !important;
}

hr {
  color: rgb(175, 175, 175);
}

.small-text {
  font-size: 0.8em;
  color: rgb(175, 175, 175);
}

.fa-youtube {
  font-size: 2rem;
  color: rgb(255, 60, 60);
  margin-right: 10px;
  transition: color 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.fa-youtube:hover {
  color: rgb(83, 0, 0);
}

.card-title {
  color: #92c1ff;
}

.container h2 {
  color: #92c1ff;
}
.container h5 {
  color: #24ce5d;
}
.container p {
  color: #ffffff;
}

.row strong {
  color: #24ce5d;
}

.event-date {
  font-weight: bold;
  color: #24ce5d;
}

.register-link a {
  color: #6ae9ff;
  text-decoration: none;
  font-weight: bold;
}
.register-link a:hover {
  color: #FFD700;
  text-decoration: underline;
}

#about_us {
  color: #ffffff;
  background-color: rgb(0, 0, 0);
}

#about-text h4, p {
  color: #ffffff;
}

.contact-card {
  max-width: 98%;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
}

.logo-container img {
  max-width: 25vh;
}

.text-container {
  color: #ffffff;
}

.contact-title a {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
}
.contact-title a:hover {
  text-decoration: underline;
}

.contact-email a,
.contact-location {
  color: #ffffff;
  text-decoration: none;
}

.contact-email a:hover {
  text-decoration: underline;
}

.location-link {
  color: #6ae9ff;
  text-decoration: none;
}
.location-link:hover {
  text-decoration: underline;
}

.fa-location-dot {
  font-size: 1.5rem;
  color: #24ce5d;
  margin-right: 10px;
  transition: color 0.3s ease;
}

.social-icons .fa-solid {
  display: inline-block !important;
}

.social-icons a {
  text-decoration: none;
}

.social-icons i {
  vertical-align: middle;
}

.social-icons .fa-facebook-square {
  color: #1877f2 !important;
}

.social-icons .fa-instagram {
  color: #e4405f;
}

.social-icons .fa-microphone {
  color: #9fc49b;
}

.social-icons .fa-youtube {
  color: #ff0000;
}

.map-container iframe {
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px;
}/*# sourceMappingURL=style.css.map */