{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content %}
<div class="container mt-2">
    <h2>Calendar</h2>
    <div class="card">
        <div class="card-body">
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'add_event' %}" class="btn btn-primary mb-3">Add to calendar</a>
            {% endif %}

            <div class="row">

                <ul class="ms-3">
                    {% for event in events %}
                    <li><strong>{{ event.title }}</strong> 
                        <br> {{ event.description }}
                        <br> {% if event.datetime %}
                        {{ event.datetime }}
                        {% else %}
                        {{ event.date }}
                        {% endif %}
                        <br> Registration Cost: {% if event.cost %}
                            ${{ event.cost }}
                            {% else %} Free
                            {% endif %}
                        <br>
                        More info:{{ event.contact}}
                    </li>
                    {% if user.is_authenticated and user.is_staff %}
                    <a href="{% url 'edit_event' event.pk %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_event' event.pk %}" class="btn btn-danger">Delete</a>
                    <hr>
                    {% endif %}
                    {% endfor %}

                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}