<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Sermon</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    


{% extends "base.html" %}

{% block title %}Add New Sermon{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Embed Link</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Change the width on embed link for a smaller video</p>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'latest_sermon' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
</body>